registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@engage-ui:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release/
@react:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-react-release/
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/
@pixel:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-pixel-release/
@nebula:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-nebula-release/
@tnt-spa:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-tnt-release/
@slacksrv:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/
@aep:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aep-release/